    prefer-no-csd
    screenshot-path null

    environment {
        ELECTRON_OZONE_PLATFORM_HINT "auto"
        QT_QPA_PLATFORM "wayland"
        QT_QPA_PLATFORMTHEME "kde"
        QT_QPA_PLATFORMTHEME_QT6 "kde"
        QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
        XDG_CURRENT_DESKTOP "niri"
        XDG_MENU_PREFIX "plasma-"
        XDG_SESSION_TYPE "wayland"
    }

    cursor {
        xcursor-theme "Catppuccin-Mocha-Lavender-Cursors"
        xcursor-size 32
    }

    debug {
        // Allows notification actions and window activation from Noctalia.
        honor-xdg-activation-with-invalid-serial
    }

    hotkey-overlay {
       skip-at-startup
    }
